#include <input/processors.dtsi>
#include <input/processors/runtime-input-processor.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors/runtime-sensor-rotate.dtsi>
#include <behaviors/battery_history_request.dtsi>
#include <layout_shift_kp_override.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

// -------------------- Constants --------------------

#undef ZMK_POINTING_DEFAULT_SCRL_VAL

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100

// Layer Indexes

#define DEFAULT 0
#define SYMBOLS 1
#define FUNCS_NUMPAD 2
#define ARROW 3
#define MOUSE 4
#define BLUETOOTH 5
#define SCROLL 6

// -------------------- Behavior Parameters --------------------

&mt {
    flavor = "balanced";
    tapping-term-ms = <250>;
    quick-tap-ms = <100>;
    require-prior-idle-ms = <100>;
};

&lt {
    tapping-term-ms = <200>;
    quick-tap-ms = <100>;
    require-prior-idle-ms = <100>;
    flavor = "balanced";
};

&mkp_input_listener { input-processors = <&zip_temp_layer 4 5000>; };

/ {
    // -------- Combos --------

    combos {
        compatible = "zmk,combos";

        default_esc {
            timeout-ms = <70>;
            slow-release;
            bindings = <&kp ESC>;
            key-positions = <0 10>;
            layers = <0>;
        };

        tab {
            timeout-ms = <70>;
            slow-release;
            bindings = <&kp TAB>;
            key-positions = <10 11>;
            layers = <0>;
        };

        shift_tab {
            timeout-ms = <70>;
            slow-release;
            bindings = <&kp LS(TAB)>;
            key-positions = <11 12>;
            layers = <0>;
        };

        bt_setting {
            timeout-ms = <70>;
            slow-release;
            bindings = <&lt 5 LA(B)>;
            key-positions = <26 38>;
            layers = <0>;
        };

        hyphen {
            timeout-ms = <70>;
            slow-release;
            bindings = <&kp MINUS>;
            key-positions = <7 8>;
            layers = <0>;
        };

        cpline {
            timeout-ms = <70>;
            slow-release;
            bindings = <&select_line>;
            key-positions = <18 19>;
            layers = <0>;
        };

        cpbef {
            timeout-ms = <70>;
            slow-release;
            bindings = <&kp LS(HOME)>;
            key-positions = <6 7>;
            layers = <0>;
        };

        cpaft {
            timeout-ms = <70>;
            slow-release;
            bindings = <&kp LS(END)>;
            key-positions = <30 31>;
            layers = <0>;
        };

        BS {
            bindings = <&kp BACKSPACE>;
            key-positions = <9 21>;
        };

        ENT {
            bindings = <&kp ENTER>;
            key-positions = <20 21>;
        };

        Ctrl_d {
            timeout-ms = <70>;
            slow-release;
            bindings = <&kp LC(X)>;
            key-positions = <2 3>;
            layers = <0>;
        };

        Ctrl_C {
            timeout-ms = <70>;
            slow-release;
            bindings = <&kp LC(C)>;
            key-positions = <12 13>;
            layers = <0>;
        };

        Ctrl_v {
            timeout-ms = <70>;
            slow-release;
            bindings = <&kp LC(V)>;
            key-positions = <25 24>;
            layers = <0>;
        };
    };

    // -------- Macros --------

    macros {
        exit_AML: exit_AML {
            compatible = "zmk,behavior-macro";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings = <&tog_off 4>;
            label = "exit_AML";
        };

        kp_exit_AML: kp_exit_AML {
            compatible = "zmk,behavior-macro-one-param";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <1>;
            bindings = <&macro_param_1to1 &kp MACRO_PLACEHOLDER &exit_AML>;
            label = "KP_exit_AML";
        };

        select_line: select_line {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp HOME &kp LS(END)>;
            label = "select_LINE";
        };
    };

    // -------- Behaviors --------

    behaviors {
        // Override the existing &kp behavior to use our custom implementation

        kp: key_press {
            compatible = "zmk,behavior-layout-shift-key-press";
            #binding-cells = <1>;
            label = "LAYOUT_SHIFT_KEY_PRESS";
        };

        col_ast: colon_asterisk {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp COLON>, <&kp ASTERISK>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        yen_pipe: yen_pipe {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp BACKSLASH>, <&kp PIPE>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        car_til: caret_tilde {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp CARET>, <&kp TILDE>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        semi_plus: semi_plus {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SEMICOLON>, <&kp PLUS>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // 新しく定義する Hold-Tap

        lt_semi: lt_semi {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_SEMI";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&semi_plus>;

            // ここで &semi_plus を呼び出す
        };

        lt_finger: lt_finger {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            flavor = "balanced";
            quick-tap-ms = <100>;
            require-prior-idle-ms = <100>;
        };

        scroll_up_down: behavior_sensor_rotate_mouse_wheel_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;

            tap-ms = <20>;
        };

        scroll_right_left: mouse_wheel_right_left {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_LEFT>, <&msc SCRL_RIGHT>;

            tap-ms = <20>;
        };

        tab_switcher: tab_switcher {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&kp LC(PAGE_UP)>, <&kp LC(PAGE_DOWN)>;

            tap-ms = <20>;
        };

        alt_tab: alt_tab {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&kp  LS(TAB)>, <&kp TAB>;

            tap-ms = <20>;
        };

        tog_off: toggle_layer_off {
            compatible = "zmk,behavior-toggle-layer";
            #binding-cells = <1>;
            display-name = "Toggle Layer Off";
            toggle-mode = "off";
        };

        mt_exit_AML: mt_exit_AML_on_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "MT_exit_AML_ON_TAP";
            bindings = <&kp>, <&kp_exit_AML>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "balanced";
            quick-tap-ms = <175>;
            require-prior-idle-ms = <0>;
        };

        ht_home: hold_tap_home {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_HOME";
            flavor = "balanced";
            tapping-term-ms = <160>;
            quick-tap-ms = <150>;
            hold-trigger-on-release;
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
        };

        caps_word_jis: caps_word_jis {
            compatible = "zmk,behavior-caps-word";
            #binding-cells = <0>;
            continue-list = <UNDERSCORE INT_RO BACKSPACE DELETE MINUS>;
        };

        td_shift_cw: tap_dance_shift_capsword {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LSHIFT>, <&caps_word_jis>;
        };

        TB_none: TB_none {
            compatible = "zmk,behavior-none";
            #binding-cells = <0>;
        };

        TB_mouse: TB_mouse {
            compatible = "zmk,behavior-none";
            #binding-cells = <0>;
        };

        TB_scroll: TB_scroll {
            compatible = "zmk,behavior-none";
            #binding-cells = <0>;
        };

        RE_scroll: RE_scroll {
            compatible = "zmk,behavior-none";
            #binding-cells = <0>;
        };

        RE_alttab: RE_alttab {
            compatible = "zmk,behavior-none";
            #binding-cells = <0>;
        };

        RE_volume: RE_volume {
            compatible = "zmk,behavior-none";
            #binding-cells = <0>;
        };

        RE_pg_ud: RE_pg_ud {
            compatible = "zmk,behavior-none";
            #binding-cells = <0>;
        };

        RE_scr_lr: RE_scr_lr {
            compatible = "zmk,behavior-none";
            #binding-cells = <0>;
        };

        hyp_equ: hyp_equ {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp MINUS>, <&kp MINUS>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
            label = "HYP_EQU";
            
            keep-mods = <(MOD_LSFT|MOD_RSFT)>; 
        };
    };

    // -------- Keymaps --------

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q                  &kp W         &kp E      &kp R                 &kp T                                              &kp Y             &kp U     &lt_finger 6 I  &kp O       &kp P
&lt_finger 1 A         &kp S         &kp D      &kp F                 &kp G        &RE_scroll          &kp ESC           &kp H             &kp J     &kp K           &kp L       &lt_semi 4 0
&mt_exit_AML LSHIFT Z  &kp X         &kp C      &kp V                 &kp B        &td_shift_cw        &kp RSHIFT        &kp N             &kp M     &kp COMMA       &kp PERIOD  &mt RSHIFT SLASH
&kp LCTRL              &kp LEFT_WIN  &lt 1 ESC  &ht_home LEFT_ALT F7  &lt 6 SPACE  &lt 2 LANGUAGE_2    &lt 3 LANGUAGE_1  &lt 2 INT_HENKAN  &TB_none                              &ht_home RCTRL DEL
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        symbols {
            bindings = <
&kp EXCLAMATION  &kp DOUBLE_QUOTES  &kp HASH      &kp DOLLAR    &kp PERCENT                                    &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &hyp_equ        &car_til   &yen_pipe
&trans           &kp SQT            &kp C_BRI_UP  &kp C_VOL_UP  &kp AMPERSAND  &RE_scr_lr       &kp AMPERSAND  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp TILDE       &kp AT     &col_ast
&trans           &kp GRAVE          &kp C_BRI_DN  &kp C_VOL_DN  &kp C_MUTE     &kp LA(LG(K))    &kp INSERT     &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp UNDERSCORE  &kp EQUAL  &kp PIPE
&trans           &trans             &trans        &trans        &trans         &trans           &trans         &trans                &TB_none                                          &kp ASTERISK
            >;

            sensor-bindings = <&scroll_right_left>;
        };

        funcs_numpad {
            bindings = <
&kp F1   &kp F2   &kp F3  &kp F4  &kp F5                         &kp PLUS   &kp N7    &kp N8  &kp N9  &kp BACKSPACE
&kp F6   &kp F7   &kp F8  &kp F9  &kp F10  &RE_alttab    &trans  &kp MINUS  &kp N4    &kp N5  &kp N6  &kp ENTER
&kp F11  &kp F12  &trans  &trans  &trans   &trans        &trans  &kp N0     &kp N1    &kp N2  &kp N3  &kp N0
&trans   &trans   &trans  &trans  &trans   &trans        &trans  &trans     &TB_none                  &trans
            >;

            sensor-bindings = <&inc_dec_kp LA(TAB) LA(LS(TAB))>;
        };

        arrow {
            bindings = <
&kp ESC  &kp LC(Z)           &kp LC(UP_ARROW)    &kp LC(Y)            &trans                        &kp PAGE_UP    &kp HOME        &kp UP_ARROW    &kp END          &kp BACKSPACE
&kp TAB  &kp LC(LEFT_ARROW)  &kp LC(DOWN_ARROW)  &kp LC(RIGHT_ARROW)  &trans  &RE_volume    &trans  &kp PAGE_DOWN  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp ENTER
&trans   &trans              &trans              &trans               &trans  &trans        &trans  &kp PSCRN      &kp LC(HOME)    &trans          &kp RC(END)      &kp K_APP
&trans   &trans              &trans              &trans               &trans  &trans        &trans  &trans         &TB_none                                         &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        mouse {
            bindings = <
&trans  &trans  &trans  &trans  &trans                        &trans  &trans     &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &RE_scr_lr    &trans  &trans  &mkp MB1   &mkp MB3  &mkp MB2  &trans
&trans  &trans  &trans  &trans  &trans  &trans        &trans  &trans  &trans     &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans        &trans  &trans  &TB_mouse                      &trans
            >;

            sensor-bindings = <&scroll_right_left>;
        };

        bluetooth {
            bindings = <
&trans          &trans  &trans  &trans  &trans                             &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&bt BT_CLR      &trans  &trans  &trans  &trans  &RE_scroll        &trans   &trans        &trans        &trans        &trans        &trans
&bt BT_CLR_ALL  &kp N1  &kp N2  &kp N3  &trans  &studio_unlock    &tog_ls  &trans        &trans        &trans        &trans        &trans
&trans          &trans  &trans  &trans  &trans  &trans            &trans   &trans        &TB_none                                  &trans
            >;
        };

        scroll {
            bindings = <
&trans  &trans  &trans  &trans  &trans                       &trans  &trans      &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &RE_pg_ud    &trans  &trans  &mkp MB1    &mkp MB3  &mkp MB2  &trans
&trans  &trans  &trans  &trans  &trans  &trans       &trans  &trans  &trans      &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans       &trans  &trans  &TB_scroll                      &trans
            >;

            sensor-bindings = <&inc_dec_kp PAGE_UP PAGE_DOWN>;
        };
    };
};
