#include "mona2.dtsi"

&kscan0 {
        col-gpios
            = <&xiao_d 10 GPIO_ACTIVE_HIGH>
            , <&xiao_d 9 GPIO_ACTIVE_HIGH> 
            , <&xiao_d 8 GPIO_ACTIVE_HIGH> 
            , <&xiao_d 7 GPIO_ACTIVE_HIGH> 
            , <&gpio0 10 GPIO_ACTIVE_HIGH>
            , <&gpio0 9 GPIO_ACTIVE_HIGH>
            ;
};

&left_encoder {
    status = "okay";
};

/* トラボとエンコーダー用のダミー */
/ {
    behaviors {
        TB_none: TB_none {
            compatible = "zmk,behavior-none";
            #binding-cells = <0>;
        };
        TB_mouse: TB_mouse {
            compatible = "zmk,behavior-none";
            #binding-cells = <0>;
        };
        TB_scroll: TB_scroll {
            compatible = "zmk,behavior-none";
            #binding-cells = <0>;
        };

        RE_scroll: RE_scroll {
            compatible = "zmk,behavior-none";
            #binding-cells = <0>;
        };
        RE_alttab: RE_alttab {
            compatible = "zmk,behavior-none";
            #binding-cells = <0>;
        };
        RE_volume: RE_volume {
            compatible = "zmk,behavior-none";
            #binding-cells = <0>;
        };
        RE_ctltab: RE_ctltab {
            compatible = "zmk,behavior-none";
            #binding-cells = <0>;
        };
        RE_sidesc: RE_sidesc {
            compatible = "zmk,behavior-none";
            #binding-cells = <0>;
        };
    };
};